# =========================
# Python / FastAPI
# =========================
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
env/

# Environment / secrets
.env
.env.*
!.env.example

# =========================
# Android
# =========================
.gradle/
local.properties
*.iml
.idea/
build/
captures/
.externalNativeBuild/
.cxx/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db